config INFINIBAND
	tristate "InfiniBand support"
	depends on PCI || BROKEN
	depends on HAS_IOMEM
	depends on LINUX
	default y
	---help---
	  Core support for InfiniBand (IB).  Make sure to also select
	  any protocols you wish to use as well as drivers for your
	  InfiniBand hardware.

if INFINIBAND

choice
	prompt "OFED Version"
        default OFED_1_4_1

config OFED_1_4_1
	bool "OFED 1.4.1"

config OFED_1_4_2
	bool "OFED 1.4.2"

config OFED_1_5_1
	bool "OFED 1.5.1"

config OFED_1_5_3
	bool "OFED 1.5.3"

endchoice

config INFINIBAND_USER_MAD
	tristate "InfiniBand userspace MAD support"
	depends on INFINIBAND
	---help---
	  Userspace InfiniBand Management Datagram (MAD) support.  This
	  is the kernel side of the userspace MAD support, which allows
	  userspace processes to send and receive MADs. You will also
	  need libibumad from <http://www.openib.org>.

config INFINIBAND_USER_ACCESS
	tristate "InfiniBand userspace access (verbs and CM)"
	---help---
	  Userspace InfiniBand access support.  This enables the
	  kernel side of userspace verbs and the userspace
	  communication manager (CM).  This allows userspace processes
	  to set up connections and directly access InfiniBand
	  hardware for fast-path operations.  You will also need
	  libibverbs, libibcm and a hardware driver library from
	  <http://www.openib.org>.

config INFINIBAND_USER_MEM
	bool
	depends on INFINIBAND_USER_ACCESS != n
	default y

config INFINIBAND_ADDR_TRANS
    tristate "InfiniBand address translation"
	depends on INFINIBAND
	default y

config IB_IP
	bool "Infiniband IP description"
	default y

if OFED_1_4_1
source linux/ofed/1.4.1/drivers/infiniband/hw/mthca/Kconfig
source linux/ofed/1.4.1/drivers/infiniband/hw/mlx4/Kconfig
config OFED
	string
	default "1.4.1"
endif

if OFED_1_4_2
source linux/ofed/1.4.2/drivers/infiniband/hw/mthca/Kconfig
source linux/ofed/1.4.2/drivers/infiniband/hw/mlx4/Kconfig
config OFED
	string
	default "1.4.2"
endif

if OFED_1_5_1
config 64BIT
	bool
	default y
source linux/ofed/1.5.1/drivers/infiniband/hw/mthca/Kconfig
source linux/ofed/1.5.1/drivers/infiniband/hw/mlx4/Kconfig
source linux/ofed/1.5.1/drivers/infiniband/hw/qib/Kconfig
config OFED
	string
	default "1.5.1"
endif

if OFED_1_5_3
config 64BIT
	bool
	default y
source linux/ofed/1.5.3/drivers/infiniband/hw/mthca/Kconfig
source linux/ofed/1.5.3/drivers/infiniband/hw/mlx4/Kconfig
source linux/ofed/1.5.3/drivers/infiniband/hw/qib/Kconfig
config OFED
	string
	default "1.5.3"
endif


config MLX4_CORE
        bool 
        depends on MLX4_INFINIBAND
        default y

config MLX4_DEBUG
        bool "MLX4 debug"
        depends on MLX4_CORE
        default n


endif # INFINIBAND
