mainmenu "Kitten Kernel Configuration"

config ARM64
	bool
	default y
	help
	  Support for the ARM64 architecture.

config ARM
	bool
	default y

config OUTPUT_FORMAT
        string
        default "elf64-littleaarch64" if ARM64

config BFDARCH
        string
        default "aarch64" if ARM64

source "kernel/Kconfig"

menu "Target Configuration"

choice
	prompt "System Architecture"
	default ARCH_QEMU

config ARCH_STORM_SIM
        bool "STORM Simulator target"
        help
	  Support for STORM simulator.

config ARCH_XGENE
        bool "APM X-GENE"
         help
	  Support for APM X-GENE Systems.

config ARCH_QEMU
    bool "Qemu"
    help
        Support for Qemu ARM V8 platform

endchoice

choice
	prompt "Processor Family"
	default ARM_V8_3_A

config GENERIC_CPU
	bool "Generic-ARM64 V8"
	help
	  Generic ARM64 V8 CPU.

config ARM_V8_3_A
    bool "ARM V8.3-a"
    help 
        CPU has ARM v8.3-a features


endchoice

config BLK_DEV_INITRD
       bool "INITRD support"
       help
	"JRL: This is needed if you have an initrd from the bootloader...."

config ARM64_L1_CACHE_BYTES
        int
        default "64" if GENERIC_CPU || ARM_V8_3_A

config ARM64_L1_CACHE_SHIFT
        int
        default "6" if GENERIC_CPU || ARM_V8_3_A

config ARM64_INTERNODE_CACHE_BYTES
	int
	default ARM64_L1_CACHE_BYTES

config ARM64_INTERNODE_CACHE_SHIFT
	int
	default ARM64_L1_CACHE_SHIFT

#
# Define implied options from the CPU selection
#

config SERIAL_PHYS
		hex
		default "0x1C021000" if ARCH_XGENE
		default "0x1C020000" if ARCH_STORM_SIM
        default "0x09000000" if ARCH_QEMU

config NR_CPUS
        int "Maximum number of CPUs (2-256)"
        range 1 255
        default "64"
        help
          This allows you to specify the maximum number of CPUs which this
          kernel will support. Current maximum is 256. Less depending on 
          the hardware.

          This is purely to save memory - each supported CPU requires
          memory in the static kernel configuration.

#
# Physical address where the kernel is loaded
#
config PHYSICAL_START
	hex
	default "0x200000"

endmenu

# source user/iofwd/Kconfig

config HAS_IOMEM
	bool
	default "y"

config HAS_IOPORT
	bool
	default "y"

config SMP
	bool
	default "y"

config ACPI
	bool
	default "y"

source "arch/arm64/boot/Kconfig"
source "arch/arm64/Kconfig.debug"


source "drivers/Kconfig"

# TODO This might be painful later
#source "linux/arch/arm64/Kconfig"
