config KALLSYMS
	bool
	default "y"
	help
	   Say Y here to let the kernel print out symbolic crash information and
	   symbolic stack backtraces. This increases the size of the kernel
	   somewhat, as all symbols have to be loaded into the kernel image.

config KALLSYSM_ALL
	bool
	default "y"
	help
	   Normally kallsyms only contains the symbols of functions, for nicer
	   OOPS messages.  Some debuggers can use kallsyms for other
	   symbols too: say Y here to include all symbols, if you need them
	   and you don't care about adding to the size of your kernel.

config LOCALVERSION_AUTO
	bool
	default "y"
	help
	  Build SCM tag into version string.  Always turned on.

config PCI_DEVICE_DB
	bool
	default "y"
	help
	  Include PCI device database in kernel image.  This is used
	  to convert PCI device IDs to human readable strings.
	  Enabling this option adds about 400 KB to the kernel image.

config HIO_SYSCALL
	bool "Hobbes I/O system call forwarding"
	default "n"
	depends on PISCES || PALACIOS
	help
	  Enables the forwarding of system calls via HIO (Hobbes I/O)

choice
	prompt "HIO forwarding implementation"
	depends on HIO_SYSCALL

config HIO_SYSCALL_USER
	bool "User-level (/dev/hio) forwarding channel"
	depends on HIO_SYSCALL && PALACIOS
	help
		Select this if you want to forward into a user-space process via /dev/hio

config HIO_SYSCALL_PALACIOS
	bool "Palacios virtual forwarding channel"
	depends on HIO_SYSCALL && PALACIOS
	help
		Select this if you want to forward into a Palacios virtual machine

config HIO_SYSCALL_PISCES
	bool "Pisces co-kernel forwarding channel"
	depends on HIO_SYSCALL && PISCES
	help
		Select this if you want to forward into the Linux host kernel

endchoice
