config KALLSYMS
	bool
	default "y"
	help
	   Say Y here to let the kernel print out symbolic crash information and
	   symbolic stack backtraces. This increases the size of the kernel
	   somewhat, as all symbols have to be loaded into the kernel image.

config KALLSYSM_ALL
	bool
	default "y"
	help
	   Normally kallsyms only contains the symbols of functions, for nicer
	   OOPS messages.  Some debuggers can use kallsyms for other
	   symbols too: say Y here to include all symbols, if you need them
	   and you don't care about adding to the size of your kernel.

config LOCALVERSION_AUTO
	bool
	default "y"
	help
	  Build SCM tag into version string.  Always turned on.

config PCI_DEVICE_DB
	bool
	default "y"
	help
	  Include PCI device database in kernel image.  This is used
	  to convert PCI device IDs to human readable strings.
	  Enabling this option adds about 400 KB to the kernel image.
