mainmenu "Kitten Kernel Configuration"

config x86_64
	bool
	default y
	help
	  Support for the x86-64 architecture.

source "init/Kconfig"

menu "Target Configuration"

choice
	prompt "System Architecture"
	default PC

config PC
        bool "PC-compatible"
        help
	  Support for standard PC compatible systems.

config CRAY_XT
        bool "Red Storm (Cray XT3/XT4)"
         help
	  Support for Cray XT3 and XT4 systems.

endchoice


choice
	prompt "Processor Family"
	default MK8

config MK8
	bool "AMD-Opteron/Athlon64"
	help
	  Optimize for AMD Opteron/Athlon64/Hammer/K8 CPUs.

config MPSC
	bool "Intel-64/Core2"
	help
	  Optimize for Intel 64 architecture.

config GENERIC_CPU
	bool "Generic-x86-64"
	help
	  Generic x86-64 CPU.

endchoice

config V3VEE
	bool "V3Vee abstraction layer"
	default "n"
	help
	  V3Vee guest OS instead of ELF image

config V3VEE_PATH
	string "Path to V3VEE source tree"
	default "../palacios/palacios"
	depends on V3VEE
	help
	  Path to the checkout of the Palacios tree for includes
	  and pre-build libraries to link in.

#
# Define implied options from the CPU selection
#

config X86_L1_CACHE_BYTES
        int
        default "128" if GENERIC_CPU || MPSC
        default "64" if MK8

config X86_L1_CACHE_SHIFT
        int
        default "7" if GENERIC_CPU || MPSC
        default "6" if MK8

config X86_INTERNODE_CACHE_BYTES
	int
	default X86_L1_CACHE_BYTES

config X86_INTERNODE_CACHE_SHIFT
	int
	default X86_L1_CACHE_SHIFT

config NR_CPUS
        int "Maximum number of CPUs (2-256)"
        range 1 255
        default "8"
        help
          This allows you to specify the maximum number of CPUs which this
          kernel will support. Current maximum is 256 CPUs due to
          APIC addressing limits. Less depending on the hardware.

          This is purely to save memory - each supported CPU requires
          memory in the static kernel configuration.

#
# Physical address where the kernel is loaded
#
config PHYSICAL_START
	hex "Physical address for kernel load"
	default "0x200000"



config VGA_CONSOLE
	bool "VGA console"
	default "y" if PC

config SERIAL_CONSOLE
	bool "Serial console support"
	default "y" if PC

config RCAL0_CONSOLE
	bool "Cray XT3 L0 console support"
	depends on CRAY_XT
	default "y" if CRAY_XT
	default "n"

config INIT_TASK_IMAGE
	string "Initial task image"
	default "/opt/vmm-tools/isos/puppy.iso" if V3VEE
	default "init_task"
	help
	  PCT ELF file for normal builds, iso for V3VEE builds.


config INIT_TASK_ARGS
	string "Arguments to the initial task"
	default "" if V3VEE
	default "console=serial debug_mptable=1 init_argv=\"one two three\" init_envp=\"one=1 two=2 three=3\""
	help
	  Command line arguments to be passed to the initial task.
	  V3VEE does not use any.

endmenu

source "arch/x86_64/Kconfig.debug"
