menu "Device drivers"

#
# Device Drivers
#
config VGA_CONSOLE
	bool "VGA console"
	depends on PC
	default PC

config SERIAL_CONSOLE
	bool "Serial console support"
	depends on PC
	default PC

config VM_CONSOLE
	bool "VM console"
	depends on PC
	default PC
	help
	  Paravirtualized console device driver for use by guest
	  virtual machines.
	  If the kernel will be run under Palacios, say yes.

config KEYBOARD
	bool
	depends on PC && !PALACIOS
	default PC

config DEVFS
	bool
	default y

config RCAL0_CONSOLE
	bool "Cray XT3 L0 console support"
	depends on CRAY_XT
	default CRAY_XT

config SEASTAR
        bool "Cray XT3 Seastar network"
        depends on CRAY_XT && NETWORK
        default CRAY_XT

config E1000
        bool "E1000 Device Driver (e1000)"
        depends on NETWORK && LWIP_ARP
        default PC

config NE2K
        bool "NE2K Device Driver (rtl8139)"
        depends on NETWORK && LWIP_ARP
        default PC

config GIGE
        bool "GigE Device Driver (r8169)"
        depends on NETWORK && LWIP_ARP
        default PC

config VMNET
        bool "VM Network Driver"
        depends on NETWORK && LWIP_ARP
        default PC
        help
          Paravirtualized network device driver for use by guest
          virtual machines.
          If the kernel will be run under Palacios, say yes.

endmenu
