config INFINIBAND_MLX4
	bool "Mellanox ConnectX HCA support"
	default y
	select MLX4_CORE
	---help---
	  This driver provides low-level InfiniBand support for
	  Mellanox ConnectX PCI Express host channel adapters (HCAs).

config MLX4_CORE
	bool
	depends on MLX4_INFINIBAND
	default y

config MLX4_DEBUG
	bool
	depends on MLX4_CORE
	default y
