config LINUX
	bool "Include Linux compatibility layer"
	default "n"
	help
	  The Linux compatibility layer includes various Linux headers and
	  core code needed to support a (small) subset of Linux device drivers
	  in the LWK.  The list of available Linux drivers will be displayed
	  when this option is enabled.

source "linux/ofed/Kconfig"

config SYSFS
	bool
	depends on LINUX
	default "y"
	help
	  Enable the Linux sysfs compatability wrappers.
	  Always on!

config SYSFS_DEPRECATED
	bool
        depends on LINUX
        default "y"
        help
          Enable the Linux sysfs depricated mode.
          Always on!
