menu "Networking"

config NETWORK
	bool "Enable lwIP TCP/IP stack"
	default n

config LWIP_TCP
	bool
	depends on NETWORK
	default y
	help
	  Enable TCP support

config LWIP_UDP
	bool
	depends on NETWORK
	default y
	help
	  Enable UDP support

config LWIP_SOCKET
	bool
	depends on NETWORK
	default y
	help
	  Allows threads to open sockets with the POSIX calls.

config LWIP_ARP
 	bool
 	depends on NETWORK
 	default y
	help
	  Enables address resolution protocol

# 
# config LWIP_DHCP
# 	bool "Enable DHCP support"
# 	depends on NETWORK
# 	default N
# 
# config LWIP_AUTOIP
# 	bool "Enable DHCP"
# 	depends on NETWORK
# 	default N
# 
# config LWIP_SNMP
# 	bool "Enable SNMP"
# 	depends on NETWORK
# 	default N
# 
# config LWIP_IGMP
# 	bool "Enable IGMP"
# 	depends on NETWORK
# 	default N
# 
# config LWIP_DNS
# 	bool "Enable DNS"
# 	depends on NETWORK
# 	default N
# 
# config PPP_SUPPORT
# 	bool "Enable PPP"
# 	depends on NETWORK
# 	default N
# 
# config PPPOE_SUPPORT
# 	bool "Enable PPPOE"
# 	depends on NETWORK
# 	default N

endmenu
